<div id="<%= dom_id menu %>">
  <p>
    <strong>Dish name:</strong>
    <%= menu.dish_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= menu.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu.description %>
  </p>

  <p>
    <strong>Avaible:</strong>
    <%= menu.avaible %>
  </p>

</div>
