<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Inventory</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to inventories_path, class: button_class(theme: "transparent") do %>
      All Inventories
      <% end %>
      <%= link_to edit_inventory_path(@inventory), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Ingradient name:</p>
        <p><%= @inventory.ingradient_name %></p>
      </li>
      <li>
        <p class="font-semibold">Stock quantity:</p>
        <p><%= @inventory.stock_quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Threshold:</p>
        <p><%= @inventory.threshold %></p>
      </li>
      <li>
        <p class="font-semibold">Reorder quantity:</p>
        <p><%= @inventory.reorder_quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Last updated:</p>
        <p><%= @inventory.last_updated %></p>
      </li>
  </ul>
</div>
