<div id="<%= dom_id coupon %>">
  <p>
    <strong>Code:</strong>
    <%= coupon.code %>
  </p>

  <p>
    <strong>Discount amount:</strong>
    <%= coupon.discount_amount %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= coupon.start_date %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= coupon.expiration_date %>
  </p>

  <p>
    <strong>Usage limit:</strong>
    <%= coupon.usage_limit %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= coupon.active %>
  </p>

</div>
