<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Time in:</strong>
    <%= customer.time_in %>
  </p>

  <p>
    <strong>Time out:</strong>
    <%= customer.time_out %>
  </p>

  <p>
    <strong>Loyalty points:</strong>
    <%= customer.loyalty_points %>
  </p>

  <p>
    <strong>Membership status:</strong>
    <%= customer.membership_status %>
  </p>

</div>
