<div id="<%= dom_id order %>">
  <p>
    <strong>Time:</strong>
    <%= order.time %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <p>
    <strong>Discount amount:</strong>
    <%= order.discount_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= order.table_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= order.employee_id %>
  </p>

</div>
