<div id="<%= dom_id reservation %>">
  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= reservation.time %>
  </p>

  <p>
    <strong>Number of guest:</strong>
    <%= reservation.number_of_guest %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= reservation.customer_id %>
  </p>

</div>
