<div id="<%= dom_id table %>">
  <p>
    <strong>Table number:</strong>
    <%= table.table_number %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= table.capacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= table.status %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= table.reservation_id %>
  </p>

</div>
