<div id="<%= dom_id feedback %>">
  <p>
    <strong>Rating:</strong>
    <%= feedback.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= feedback.comment %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= feedback.date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= feedback.customer_id %>
  </p>

</div>
