<div id="<%= dom_id coupon_usage %>">
  <p>
    <strong>Date:</strong>
    <%= coupon_usage.date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= coupon_usage.customer_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= coupon_usage.order_id %>
  </p>

  <p>
    <strong>Coupon:</strong>
    <%= coupon_usage.coupon_id %>
  </p>

</div>
