<%= form_with(model: coupon_usage) do |form| %>
<% if coupon_usage.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(coupon_usage.errors.count, "error") %> prohibited this coupon_usage from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% coupon_usage.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :date, class: label_class %>
          <%= form.datetime_field :date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :customer_id, class: label_class %>
          <%= form.text_field :customer_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :order_id, class: label_class %>
          <%= form.text_field :order_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :coupon_id, class: label_class %>
          <%= form.text_field :coupon_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if coupon_usage.persisted? %>
<%= link_to "Cancel", coupon_usage, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", coupon_usages_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
